
.nav{
    background-image:url('title2.webp');
    background-color: white; 
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  
    /* background-repeat: no-repeat; */
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;


  box-shadow: 5px 5px 5px 5px rgb(116, 160, 240);
}
.nav h1{


    padding: 15% 10%;
    margin: 0 auto;
    color: rgb(31, 113, 219);
    font-size: 40px;
    padding-right: 550px;

}
